<div class="buyPageDiv">
	<div class="buyFlow">
		<img class="pull-left" src="/shopping/img/site/simpleLogo.png">
		<img class="pull-right" src="/shopping/img/site/buyflow.png">
		<div style="clear:both"></div>
	</div>
	
	<div class="address">
		<div class="addressTip">输入收货地址</div>
		<div>
			<table class="addressTable">
				<tr>
					<td class="firstColumn">详细地址<span class="redStar">*</span></td>
					<td><textarea name="address" placeholder="建议您如实填写详细收货地址，例如接到名称，门牌好吗，楼层和房间号等信息"></textarea></td>
				</tr>
				<tr>
					<td>邮政编码</td>
					<td><input  name="post" placeholder="如果您不清楚邮递区号，请填写000000" type="text"></td>
				</tr>
				<tr>
					<td>收货人姓名<span class="redStar">*</span></td>
					<td><input  name="receiver"  placeholder="长度不超过25个字符" type="text"></td>
				</tr>
				<tr>
					<td>手机号码 <span class="redStar">*</span></td>
					<td><input name="mobile"  placeholder="请输入11位手机号码" type="text"></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="productList">
		<div class="productListTip">确认订单信息</div>
		<table class="productListTable">
			<thead>
				<tr>
					<th colspan="2" class="productListTableFirstColumn">
						<img class="tmallbuy" src="/shopping/img/site/tmallbuy.png">
						<a class="marketLink" href="#nowhere">店铺：天猫店铺</a>
						<a class="wangwanglink" href="#nowhere"> <span class="wangwangGif"></span> </a>
					</th>
					<!-- <th>商品信息</th> -->
					<th>单价</th>
					<th>数量</th>
					<th>小计</th>
					<th>配送方式</th>
				</tr>
				<tr class="rowborder">
					<td  colspan="2" ></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody class="productListTableTbody">
				<tr class="orderItemTR">
					<td class="orderItemFirstTD">
						<img class="orderItemImg" src="/shopping/img/productSingle_middle/1882.jpg">
					</td>
					<td class="orderItemProductInfo">
						<a  href="foreproduct?pid=1882" class="orderItemProductLink">
							超级无敌大产品
						</a>
						<img src="/shopping/img/site/creditcard.png" title="支持信用卡支付">
						<img src="/shopping/img/site/7day.png" title="消费者保障服务,承诺7天退货">
						<img src="/shopping/img/site/promise.png" title="消费者保障服务,承诺如实描述">
					</td>
					<td><span class="orderItemProductPrice">￥345</span></td>
					<td><span class="orderItemProductNumber">3</span></td>
					<td>
						<span class="orderItemUnitSum">333</span>
					</td>
					<td rowspan="5"  class="orderItemLastTD">
						<!-- <label class="orderItemDeliveryLabel">
							<input type="radio" value="" checked="checked">普通配送
						</label> -->
						<select class="orderItemDeliverySelect">
							<option>普通配送</option>
							<option>快递免邮费</option>
						</select>
					</td>
				</tr>
				<tr class="orderItemTR">
					<td class="orderItemFirstTD">
						<img class="orderItemImg" src="/shopping/img/productSingle_middle/1882.jpg">
					</td>
					<td class="orderItemProductInfo">
						<a  href="foreproduct?pid=1882" class="orderItemProductLink">
							超级无敌大产品
						</a>
						<img src="/shopping/img/site/creditcard.png" title="支持信用卡支付">
						<img src="/shopping/img/site/7day.png" title="消费者保障服务,承诺7天退货">
						<img src="/shopping/img/site/promise.png" title="消费者保障服务,承诺如实描述">
					</td>
					<td><span class="orderItemProductPrice">￥345</span></td>
					<td><span class="orderItemProductNumber">3</span></td>
					<td>
						<span class="orderItemUnitSum">333</span>
					</td>
					<td rowspan="5"  class="orderItemLastTD">
						<!-- <label class="orderItemDeliveryLabel">
							<input type="radio" value="" checked="checked">普通配送
						</label> -->
						<select class="orderItemDeliverySelect">
							<option>普通配送</option>
							<option>快递免邮费</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>