<div id="userVm">
    <h3>文本绑定</h3>
    <div>{{title}}</div>
    <h3>属性绑定 ---- 单向绑定 Vue to DOM</h3>
    User Name: <input type="text" v-bind:value="userName"><br>
    Password: <input type="text" :value="password"><br>
    Re-Password: <input type="text" :value="rePassword"><br>
    <h3>表单控件绑定 ---- 双向绑定</h3>
    Email: <input type="text" v-model="email">
    <!-- v-model.number 表示输入值转为 number -->
    Step: <input type="text" v-model.number="step">
    Total: <input type="text" v-model="total">
    <h3>事件绑定</h3>
    test_1: <input type="button" v-on:click="test_1()" value="test_1"><br>
    test_2: <input type="button" @click="test_2()" value="test_2"><br>
    <h3>Vue 组件</h3>
	简单组件：<button-demo></button-demo>
	计数组件：<button-count></button-count>
</div>
<script type="text/javascript">
	// 全局注册组件
    Vue.component("button-demo", {
        template: "<button>11111</button>",
    });
	// 全局注册组件
    Vue.component("button-count", {
        // 定义数据，注意是一个函数，返回数据
        data: function() {
          return {
              count: 0,
          }
        },
        // 定义方法
        methods: {
            clickAdd: function() {
                this.count ++;
            }
        },
        // 定义模版
        template: "<button @click='clickAdd()'>Click {{count}} times</button>"
    });
    var userVue = new Vue({
        el: "#userVm", // 指定页面元素 id
        data: { // 定义 vue 实例属性，和页面元素一一绑定
            title: "Vue Test",
            userName: "HymanHu",
            password: "111111",
            rePassword: "111111",
            email: "hujiang@163.com",
            step: 1,
            total: 0,
        },
        methods: { // 定义页面事件对应的函数
            test_1: function() {
                alert(this.userName + this.password);
                this.userName = "Hujiang";
                this.password = "aaaaaaa";
                this.rePassword = "aaaaaa";
            },
            test_2: function() {
                this.total = this.total + this.step;
            },
        },
    });
</script>